---
// Import a single file
// import * as myPost from '../pages/post/my-post.md';
// import Layout from "../../layouts/BaseLayout.astro";
// layout: '../../layouts/BaseLayout.astro'
import Layout from "../../layouts/Layout.astro";

import '../../styles/main.css';

// title: 'Azure Services'
// author: 'impondesk'


// layout: ../../layouts/BaseLayout.astro

title: 'Microsoft Azure Services'
date: '2021-01-12'
lastmod: '2021-02-01'
tags: ['Microsoft', 'Azure', 'Cloud Native']
draft: false
summary: 'Microsoft Azure, often referred to as Azure, is a cloud computing platform operated by Microsoft that provides access, management, and development of applications and services via around the world-distributed data centers.'
images: ['/static/images/canada/mountains.jpg', '/static/images/canada/toronto.jpg']
authors: ['default', 'impondesk']
slug: 'azure-services'

// Import multiple files with Astro.glob
const posts = await Astro.glob('./*.md');
---

<Layout title="Blog">

  <h1 class="text-white dark:text-black text-2xl md:text-4xl xl:text-8xl font-bold">
    <small class="font-extrabold text-transparent text-8xl bg-clip-text bg-gradient-to-r from-sky-400 to-blue-600">Blog</small>
    <span class="block text-3xl text-gray-500">impondesk<span class="text-3xl">.</span></span>
  </h1>

<ul class="list-none">

  <!-- {posts.map(post => {
    console.log(post);
    return (<li><a href={post.url}>{post.frontmatter.title}</a></li>);
  })} -->



  {posts.map(post => {

    console.log(post);
    
    return <li key="slug" class="py-4">
    <article class="space-y-2 xl:grid xl:grid-cols-4 xl:items-baseline xl:space-y-0">
      <dl>
        <dt class="sr-only">Published on</dt>
        <dd class="text-base font-medium leading-6 text-gray-500 dark:text-gray-400">
          <time>{post.frontmatter.date}</time>
        </dd>
      </dl>
      <div class="space-y-3 xl:col-span-3">
        <div>
          <h2 class="text-2xl font-bold leading-8 tracking-tight">
            <a href={`/blog/${post.frontmatter.slug}`} class="text-gray-200 dark:text-gray-100">{post.frontmatter.title}</a>
          </h2>
          <div class="flex flex-wrap -mt-3">
            {post.frontmatter.tags.map((tag) => (
              // <a class="bg-blue-100 text-blue-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800">{tag}</a>
              // <a href="#" class="bg-blue-100 hover:bg-blue-200 text-blue-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 dark:hover:bg-blue-300">{tag}</a>
                <a rel="noopener noreferrer" href="#" class="p-1 hover:underline text-white hover:text-gray-200 visited:text-gray-500">#{tag}</a>              
            ))}
          </div>
        </div>
        <div class="prose max-w-none text-gray-500 dark:text-gray-400">
          {post.frontmatter.summary}
        </div>
        
        <div class="text-base font-medium leading-6"><a class="text-sky-500 hover:text-sky-600 dark:hover:text-sky-400" aria-label="Read &quot;New features in v1&quot;" href={`/blog/${post.frontmatter.slug}`}>Read more →</a></div>

      </div>
    </article>
  </li>}
  
  
  // 
  )}
</ul>
</Layout>