---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

import "../styles/main.css";

const data = [
	{
		"org": "CitiusTech Healthcare Technology Pvt. Ltd.",
		"summary": "CitiusTech is a specialised provider of healthcare technology and business process services to healthcare technology companies, healthcare providers, managed care organisations, health plans, and disease management companies. At CitiusTech, we play a deep and meaningful role in powering the future of healthcare worldwide. We accelerate digital innovation in healthcare through specialised solutions, scalable platforms and out-of-the-box accelerators.",
		date: "Oct 2018 - Present",
		designation: "Sr. Solution Architect II",
		link: "https://citiustech.com/"
	},
	{
		"org": "Dure Technologies",
		"summary": "Dure Technologies is a multinational technology enterprise with offices in Switzerland and India. It has a portfolio of innovative technology products and solutions for public health and social development sector. Dure has been implementing digital innovation projects for UN agencies like WHO, UNAIDS, UNICEF, UNOPS, to large donor organisations like The Global Fund, USAID, Bill & Melinda Gates Foundation, and to global implementation partners like Save the Children International, FHI 360, just to name a few.",
		date: "Dev 2013 - Jan 2018",
		designation: "Head Product Development",
		link: "https://duretechnologies.com/"
	},
	{
		"org": "Cognizant",
		"summary": "Cognizant (Nasdaq-100: CTSH) is one of the world's leading professional services companies, transforming clients'​ business, operating & technology models for the digital era. We strategize design to deployment for e-Event Compliance Solution.",
		date: "Jun 2011 - Dec 2013",
		designation: "Technical Architect, CRM Consultant",
		link: "https://www.cognizant.com/"
	},
	{
		"org": "Incessant",
		"summary": "Incessant is one of the largest ‘Pure Play’ BPM Services Vendors, specializing in this field with a strong focus on Pega with unique and combined expertise in the platforms, provides CRM, Case Management, RPA, and Decisioning solutions that transform organizations into the digital businesses.",
		date: "Apr 2010 - Jun 2011",
		designation: "BPM Expert",
		link: "https://incessanttechnologies.com/"
	},
	{
		"org": "Mphasis - an HP Company",
		"summary": "Mphasis Limited is an Indian multinational information technology services and consulting company based in Bengaluru. The company provides infrastructure technology and applications outsourcing services, as well as architecture guidance, application development and integration, and application management services.",
		date: "Jul 2006 - Mar 2010",
		designation: "Java Lead",
		link: "https://www.mphasis.com/"
	},
];

// await fetch('experiences.json').then((response) => {
// 	console.log(response);
// 	response.json();
// });

// const posts = await Astro.glob("./*.mdx");
---

<!-- <Layout title="@impondesk">

<main role="main" class="w-full lg:col-span-3">
  <section class="p-8 lg:py-12 lg:px-10">
      
        <h1 class="text-black dark:text-white text-2xl md:text-4xl xl:text-8xl font-bold">
          <small>Experience</small>
          <span class="block text-3xl text-gray-500">impondesk<span class="text-3xl">.</span></span>
        </h1>
      
  </section>
</main>

</Layout> -->
<Layout title="@impondesk">
	<main class="max-w-7xl mx-auto">
		<h1
			class="text-white dark:text-black text-2xl md:text-4xl xl:text-8xl font-bold"
		>
			<small
				class="font-extrabold text-transparent text-8xl bg-clip-text bg-gradient-to-r from-sky-400 to-blue-600"
				>Experience</small
			>
			<span class="block text-3xl text-gray-500"
				>impondesk<span class="text-3xl">.</span>
			</span>
		</h1>

		<section class="pt-10 overflow-hidden md:pt-0 sm:pt-16 2xl:pt-16">
			<ul class="list-none">
				{
					data.map((item) => {
						// console.log(item);

						return (
							<li key="slug" class="py-4">
								<article class="space-y-2 xl:grid xl:grid-cols-4 xl:items-baseline xl:space-y-0">
									<div class="space-y-3 xl:col-span-3">
										<div>
											<h2 class="text-2xl font-bold leading-8">
												<a
													href={`${item.link}`} target="_blank"
													class="text-gray-200 dark:text-gray-100 block"
												>
													{item.org}
												</a>
												<span class="text-gray-500 text-sm">
													{item.designation},
												</span>
												<span class="text-gray-500 text-sm">
													{item.date}
												</span>
											</h2>
										</div>
										<div class="prose max-w-none text-gray-500 dark:text-gray-400">
											<span class="block text-md">
												{item.summary}
											</span>
										</div>
									</div>
								</article>
							</li>
						);
					})
				}
			</ul>
		</section>

		<!-- <div class="px-4 mx-auto sm:px-6 lg:px-8 ">
				<div class="grid items-center grid-cols-1 md:grid-cols-2">
					<div>
						<h2 class="text-xl font-base leading-tight text-black sm:text-4xl lg:text-5xl">👋 I am <br class="block sm:hidden font-extrabold" />Israni Murli</h2>
						<p class="max-w-lg mt-3 text-xl leading-relaxed text-gray-600 md:mt-8">Born in 1984 in Mumbai, India. I’m a software engineer specializing in designing & building exceptional digital experiences. I believe technology can be more diverse and inspiring. With a mission to enable possibilities of new era and digitization. I am pursuing new expressions through experiments and thoughts.</p>
		
						
					</div>
		
					<div class="relative">
						<img class="absolute inset-x-0 bottom-0 -mb-48 -translate-x-1/2 left-1/2" src="https://cdn.rareblocks.xyz/collection/celebration/images/team/1/blob-shape.svg" alt="" />
						<img class="relative w-full xl:max-w-md xl:mx-auto 2xl:origin-bottom 2xl:scale-100" src="/impondesk.png" alt="" />
					</div>
				</div>
			</div> -->

		<!-- <section class="py-10 sm:py-16 lg:py-24">
			<div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
				<div class="grid items-center grid-cols-1 gap-12 lg:grid-cols-2">
					<div>
						<h1 class="text-4xl font-bold text-black sm:text-6xl lg:text-7xl">
							Collaborate remotely, with
							<div class="relative inline-flex">
								<span class="absolute inset-x-0 bottom-0 border-b-[30px] border-[#4ADE80]"></span>
								<h1 class="relative text-4xl font-bold text-black sm:text-6xl lg:text-7xl">Postcrafts.</h1>
							</div>
						</h1>
	
						<p class="mt-8 text-base text-black sm:text-xl">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat.</p>
	
						<div class="mt-10 sm:flex sm:items-center sm:space-x-8">
							<a href="#" title="" class="inline-flex items-center justify-center px-10 py-4 text-base font-semibold text-white transition-all duration-200 bg-orange-500 hover:bg-orange-600 focus:bg-orange-600" role="button"> Start exploring </a>
	
							<a href="#" title="" class="inline-flex items-center mt-6 text-base font-semibold transition-all duration-200 sm:mt-0 hover:opacity-80">
								<svg class="w-10 h-10 mr-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
									<path fill="#F97316" stroke="#F97316" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.752 11.168l-3.197-2.132A1 1 0 0010 9.87v4.263a1 1 0 001.555.832l3.197-2.132a1 1 0 000-1.664z" />
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
								</svg>
								Watch video
							</a>
						</div>
					</div>
	
					<div>
						<img class="w-full" src="https://cdn.rareblocks.xyz/collection/celebration/images/hero/2/hero-img.png" alt="" />
					</div>
				</div>
			</div>
		</section> -->
	</main>
</Layout>
